[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2

[*.{md,org}]
indent_size =

[*.{go,mod}]
indent_style = tab

[go.work]
indent_style = tab

[*.drawio]
indent_size =
end_of_line =
insert_final_newline = false

[version.txt]
insert_final_newline = false
