{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "tailwindConfig": "./frontend/tailwind.config.ts",
    "tailwindFunctions": ["clsx"],
    "plugins": ["prettier-plugin-tailwindcss"]
}
